<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Employee</title>
</head>

<body>

	<div class="container">
	
		<h3>Employee Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Employee</p>
	
		<form th:action="@{/employees/save}"
			  th:object="${employee}" method="POST">
			<div class="form-group">
				<label for="ID">ID</label>
				<input type="text" th:field="*{id}"
					class="form-control mb-4 col-4" id="ID" placeholder="ID"/>
			</div>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" id="name" placeholder="Name">
				<div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>

			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email" id="email">
				<div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
			</div>

			<div class="form-group">
				<label for="designation">Designation</label>
				<input type="text" th:field="*{designation}"
					class="form-control mb-4 col-4" id="designation" placeholder="Designation">
				<div class="alert alert-warning" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}"/>

			</div>
			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>
	
		<hr>
		<a th:href="@{/employees/list}">Back to Employees List</a>
		
	</div>
</body>

</html>










